<!DOCTYPE html>
<html lang="pl">

<head>
    <title>MySecureApp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet" />
    <script src="{{ url_for('static', filename='script.js') }}" async></script>
</head>

<body>
    <header class="site-header">
        <nav>
            <div class="brand-name">
                <a href="/dashboard">Bezpieczna aplikacja</a>
            </div>
            <ul>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </nav>
    </header>
        <main class="site-content">
            <section class="main-container">
               <section class="main-section">
                  <div class="side-row">
                     <div class="private-notes">
                        <h2>Twoje notatki</h2>
                        {% if priv_notes|length %}
                        <ul>
                            {% for note in priv_notes %}
                            <li>{{note.content}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                     </div>
                     <div class="files">
                        <h2>Twoje pliki</h2>
                        {% if files|length %}
                        <ul>
                            {% for file in files %}
                            <li><a href="/file/{{file.file_uid}}">
                               {{file.filename}}
                            </a>
                           </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                     </div>
                  </div>
                  <div class="side-row">
                     <div class="public-notes">
                        <h2>Publiczne notatki</h2>
                        {% if public_notes|length %}
                        <ul>
                            {% for note in public_notes %}
                            <li>{{note.content}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                     </div>
                     <div class="shared-notes">
                        <h2>Współdzielone notatki</h2>
                        {% if shared_notes|length %}
                        <ul>
                            {% for note in shared_notes %}
                            <li>{{note.content}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                     </div>
                  </div>
               </section>
               <section class="main-section">
                  <form action="/add/note" method="POST">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                     <textarea name="note-input" id="note-input" cols="30" rows="10"></textarea>
                     <div class="inline">
                        <input id="private-checkbox" type="radio" name="note-type" value="private" required>
                        <label for="private">Prywatna</label>
                        <input type="checkbox" name="encrypted" id="encrypted-checkbox" value="encrypted" disabled>
                        <label for="encrypted">Szyfrowana</label>
                        <input id="note-password-input" type="text" name="note-password" placeholder="Tajne hasło" disabled required>
                     </div>
                     <div class="inline">
                        <input id="shared-checkbox" type="radio" name="note-type" value="shared" required>
                        <label for="shared">Współdzielona</label>
                        <input id="recipient-input" type="text" name="recipient" placeholder="Użytkownik" disabled>
                     </div>
                     <div class="inline">
                        <input type="radio" name="note-type" value="public" required>
                        <label for="public">Publiczna</label>
                     </div>
                     <input type="submit" value="Dodaj notatkę">
                     {% if status == "user not found"%}
                     <div class="msg-failed">
                       <p>Użytkownik nie istnieje</p>
                     </div>
                     {% endif %}
                  </form>
                  <form action="/add/file" method="POST" enctype="multipart/form-data">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                     <input type="file" name="file-input" id="file-input" accept=".png, .jpg, .jpeg, .pdf, .txt, .doc, .docx, .xml" required>
                     <input type="submit" value="Dodaj plik">
                  </form>
                  <form action="/decrypt" method="POST">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                     <textarea name="note-input" id="note-input" cols="30" rows="10" placeholder="Wprowadź tu treść zaszyfrowanej notatki"></textarea>
                     <input id="note-password-input" type="text" name="note-password" placeholder="Tajne hasło" required>
                     <input type="submit" value="Rozszyfruj">
                  </form>
               </section>
            </section>
            {% if status == "password error"%}
            <div class="msg-failed">
              <p>Hasło w złym formacie (dozwolone znaki: a-z, A-Z, 0-9)</p>
            </div>
            {% endif %}
            {% if status == "note not found"%}
            <div class="msg-failed">
              <p>Nie znaleziono notatki o takiej treści</p>
            </div>
            {% endif %}
            {% if status == "new device"%}
            <div class="msg-info">
              <p>Zalogowano z nowego urządzenia</p>
            </div>
            {% endif %}
         </main>
    <footer class="site-footer">
        <hr />
        <p>&copy; 2021 Jakub Jackowski</p>
    </footer>
</body>

</html>